# ignore dotenv environment variables
.env/

# ignore build/dist directories
.npm/
.build
.dist/

# ignore Next.js directory
.next/

# ignore vercel link directory
.vercel/

# ignore .temp directory used during testing
.temp/

# standard ignorable files found when using Yarn
node_modules/
.DS_Store

# logging we can ignore
yarn-error.log
eslint.log

# ignore the increment typescript build info
tsconfig.tsbuildinfo

# ignore .yarn used by yarn
.yarn

# ignore turborepo files in .turbo
.turbo

# ignore .vscode settings for now because it's being used to disable copilot comments dynamically
.vscode
